	A:link { text-decoration: none; color:rgb(0,0,128) }
	A:visited { text-decoration: none; color:rgb(0,0,128) }
	A:hover { text-decoration: none; color:rgb(128,0,0) }

body, table, td, th{
Font-Family : sans-serif;
Font-Size : 15px;
}

.r {text-align: right}
.blue {color: #0000FF;}
td {vertical-align: top; text-align: left}
.c {text-align: center}
table.s {
	border-collapse:collapse;
	border-width: 1px;
}
table.s td{
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: gray;
}
table.t {
	border-collapse: collapse;
	border-width: 0px;
}
table.t td{
	border-width: 0px;
	padding: 4px;
	border-style: solid;
	border-color: gray;
}
.dots {
    background:url('./images/dot.gif') repeat-x center;
}
.field {
    background-color: #FFFFFF;
}

.sHdr {   /* Session header Content list */
   background-color: #bfbfbf;
}
      
table.trk { /* Track table Content list */
   border-collapse: collapse;
   border-width: 0px;
   margin: auto;
   width: 85%;
}
table.trk td{
   border-width: 0px;
   padding: 4px;
   border-style: solid;
   border-color: gray;
 }
      
.pHdr {  /* Paper header Content list */
   background-color: #e6ddda;
   color: black;
}
      
.pTtl {  /* Paper title Content list */
   font-size: 16px;
   font-style: italic;
}

table.lT {  /* Letter table author index */
	        border-collapse: collapse;
	        border-width: 0px;
	        width: 100%;
	        margin: auto;
         }
table.lT td{
	        border-width: 0px;
	        padding: 1px;
	        border-style: solid;
	        border-color: gray;
         }
      
.lHdr {  /* Letter header author index */
            background-color: #bfbfbf; color:rgb(0,0,128);
            line-height: 1.5em;
         }

table.kT {   /* Keyword index table */
	        border-collapse: collapse;
	        border-width: 0px;
	        width: 100%;
         }
table.kT td{
	        border-width: 0px;
	        padding: 4px;
	        border-style: solid;
	        border-color: gray;
          }
      
.lHdr { /* Letter header keyword index */
            background-color: #bfbfbf;  color:rgb(0,0,128);
            line-height: 1.5em;
         }

table.dayB {  /* Day table Program at a glance B */
	     border-collapse: separate;
	     border-width: 1px;
	     margin: auto;
	     width: 100%;
		 position:relative;
		 left:40px;
      }
table.dayBN {  /* Day table Program at a glance B */
	     border-collapse: separate;
	     border-width: 1px;
	     margin: auto;
	     width: 100%;
		 position:relative;
		 left:0px;
      }

table.dayB td{
	     border-width: 1px;
	     padding: 2px;
	     border-style: solid;
	     border-color: gray;
      }
   
.dHd { /* Day header Program at a Glance B */
         background-color: black; 
         color: white;
         text-align: center;
		 width: 85%;
      }
   
.tHdr { /* Track header row Program at a Glance B */
         /* background-color: #b6d2ea */
		 background-color: #bfbfbf;  color:rgb(0,0,128);
      }

hr {  /* HR */
		border: 0;
		color: #3e526e;
		background-color: #3e526e;
		height: 2px;
		position: relative;
}

h1, h2, h3, h4, h5, h6 {
 font-family: Arial, Helvetica, sans-serif; color: #0000ff; margin-bottom: 10px; margin-top: 10px;
 }
 h1 { font-size: 1.8em; text-align: center; font-weight:bold; font-style: normal; color: #3e526e; margin-bottom: 5px; margin-top: 5px;}
 h2 { font-size: 1.4em; text-align: left; font-weight:bold; font-style: italic; color: #3e526e; margin-bottom: 5px; margin-top: 5px;}
 h3 { font-size: 1.2em; text-align: left; font-weight:bold; font-style: italic; color: #3e526e; margin-bottom: 0px; margin-top: 5px;}
 h4 { font-size: 1.1em; text-align: left; font-weight:bold; font-style: normal; color: #000000; margin-bottom: 5px; margin-top: 0px;}
 h5 { font-size: 1.0em; text-align: center; font-weight:bold; font-style: normal; color: #3e526e; margin-bottom: 5px; margin-top: 5px;}
 h6 { font-size: 0.8em; text-align: left; font-weight:bold; font-style: italic; color: #3e526e; margin-bottom: 5px; margin-top: 5px;}